.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    .card{
    width: 17rem;
    height: 10rem;
    border-radius: 13px 70px;
    background-color: rgba(209, 143, 143, 0.388);
    }
}