.container {
  // background: linear-gradient(to left, rgb(207, 143, 151), white);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.form-box {
  width: 380px;
  height: 450px;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0.5;
  border-radius: 2%;
}

.body-form {
  position: relative; /* Add position relative for eye icon positioning */
 .error-message{
  color:red;
 }
  .eye-icon {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 10px;
    z-index: 1000;
    color: rgb(183, 39, 39);
    cursor: pointer;
  }

  .input-group-text {
    height: 37px;
    
  }

  .input-group {
    margin-bottom: 15px; /* Adjust margin bottom for spacing between input groups */
    
  }

  .form-control {
    border-radius: 5px; /* Set a border-radius value for the input fields */
  }
}

.header-form {
  margin-bottom: 15px;
}

button {
  margin-top: 40px;
  margin-bottom: 10px;
}

.message {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.social i {
  font-size: 35px;
}

.social i:hover {
  color: black;
  cursor: pointer;
}
