.sidebar {
  background:  rgb(216, 187, 250);
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  
  .side-menu-link {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
   }
  i {
    margin-right: 10px;
   
  }
 
  .arrow{
    padding-left: 10px;
  }
  .sub-menu{
   .sub-menu-link{
    color: #270805;
    font-size: 18px;
    font-weight: 500;
   }
      
     
  }
}
